<!DOCTYPE html>
<html>
<head>
	<title>PiTV</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css') }}">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	
</head>
<body class="bg-dark text-light">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-md navbar-dark bg-primary sticky-top">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"><img src="{{ url_for('static', filename='images/logo.png') }}"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav mr-auto">
					<li class="navbar-item active">
						<a class="nav-link" href="#">Home</a>
					</li>
					<li class="navbar-item">
						<a class="nav-link" href="#">Features</a>
					</li>
					<li class="navbar-item">
						<a class="nav-link" href="#">Download</a>
					</li>
					<li class="navbar-item">
						<a class="nav-link" href="#">Support</a>
					</li>
				</ul>
				<ul class="navbar-nav ml-auto">
					{% if not logged %}
					<li class="navbar-item">
						<a class="nav-link" href="login">Login</a>
					</li>
					<li class="navbar-item">
						<a class="nav-link" href="register">Register</a>
					</li>
					{% else %}
					<li class="navbar-item">
						<a class="nav-link" href="account">{{ usename }}</a>
					</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	<div class="container-fluid">

		<!-- Text -->
		<div class="container text-center" style="margin-top:5em">
			<h1>PiTV</h1>
			<h5>PiTV is smart TV for Raspberry Pi built on lightweight Alpine linux.</h5>
		</div>

		<!-- Landing image -->
		<div class="container-fluid text-center" style="margin-top: 5em">
			<img class="img-fluid" style="max-width: 85% !important;" src="{{ url_for('static', filename='images/Home.png') }}" />
		</div>
	</div>

	<!-- Jumbotron -->
	<div class="container">
		<div class="jumbotron bg-primary" style="margin-top: 4em">
			<h1>Features</h1>
			<p>PiTV is modern, fast and secure smart tv, but still <abbr title="Work In Progress">WIP</abbr>.</p>
		</div>
	</div>

</body>
</html>
