$theme-colors:(
  "primary":#bd1143
);

@import "node_modules/bootstrap/scss/bootstrap";

html, body{
  height: 100%;
  width: 100%;
}

.bg-primary,.btn-primary{
  background-color: #bd1143 !important;
}

.navbar-toggler{
  border: none !important;
  outline: none !important;
}