$gray-800: #343a40;

$theme-colors:(
  "primary":#bd1143
);

$input-bg: darken($gray-800, 10) !important;
$input-color: theme-color("light") !important;
$input-border-color: darken($gray-800, 10) !important;

@import "node_modules/bootstrap/scss/bootstrap";

html, body{
  height: 100%;
  width: 100%;
}

.bg-primary,.btn-primary{
  background-color: #bd1143 !important;
}

.navbar-toggler{
  border: none !important;
  outline: none !important;
}